*.o
*.out
*.bin
*.exe
*.txt
a.out
ashwathama
ask_pass
ath
bash_gitignore.sh
context
copro
endian
forks
garibsh
hello
indirect_terminal.sh
ior
mincore_demo
mychdir
mychroot
mycopy
mydaemon
myps
mystat
pgrp
pid
pipe
printf
prof
reader
run_writer_readers.sh
sbrk
sigc
sync
terminal_tty.sh
threads
writer
